{% extends 'ocent/ocent_generic.html' %}

{% block ocnavPro%} nb-active-info {% endblock %}

{% block content %}
  <div class="container rounded border bg-light p-0">

    <div class="border pb-0">
      <h6 class="container rounded-top border-top bg-info text-white p-3 mb-0">
        My profile
      </h6>
      <p class="p-2 m-0">
        <a href="" class="btn btn-primary btn-sm rounded border">Edit profile</a>
      </p>
      <table class="table table-sm table-striped border mb-0">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th class="bg-danger-rm border-right">Username</th>
            <td>{{ user.username }}</td>
          </tr>
          <tr>
            <th class="bg-warning-rm border-right">Email</th>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <th class="bg-info-rm border-right">Phone</th>
            <td>{{ user.userprofile.phone_num }}</td>
          </tr>
          <tr>
            <th class="bg-success-rm border-right">Bio</th>
            <td>{{ user.userprofile.bio }}</td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>

    {% comment %}
    <div class="row mb-5">
      <div class="col-sm-6">
        <h6 class="container rounded-top border bg-info text-white p-3 mb-0">
          Modules
        </h6> 
        <div class="border p-2 bg-success-rm">
          <a class="btn btn-sm btn-primary text-white">Project</a>
        </div>
      </div>
    </div>
    {% endcomment %}

  </div>

{% endblock %}

