{% extends "base/base_generic.html" %}

{% block content %}

  <div class="container col-sm-3">
    {% load ologin %}
    <div class="mt-5 mb-3">
      <h4 class="text-center">Sign in to OIT</h4>
    </div>
    <div class="">
      {% if form.errors %}
      <p class="text-danger">Your username and password didn't match. Please try again.</p>
      {% endif %}
      
      {% if next %}
          {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
          {% else %}
          <p>Please login to see this page.</p>
          {% endif %}
      {% endif %}
    </div>
    <div class="mt-5-rm p-3 mb-3 bg-light border rounded shadow-sm">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        <div class="form-group">
          <td><strong>{{ form.username.label_tag }}</strong></td>
          <td>{{ form.username|addcss:"form-control" }}</td>
        </div>
        <div class="form-group">
          <td><strong>{{ form.password.label_tag }}</strong></td>
          <td>{{ form.password|addcss:"form-control" }}</td>
        </div>
        
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
      
      {# Assumes you setup the password_reset view in your URLconf #}
      <!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
{% comment %}
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endcomment %}

    </div>
    <div class="pt-3 px-3 border rounded">
      <p class="text-center">
New to OIT? <a href="">Create an account</a>
      </p>
    </div>

    <div class="mt-4">
      <p class="text-center">
        <a href="" class="nb-fs-sm">Terms</a>&nbsp;&nbsp;
        <a href="" class="nb-fs-sm">Privacy</a>&nbsp;&nbsp;
        <a href="" class="nb-fs-sm">Contact OIT</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}



  <div class="container py-5">
    <h3>Login</h3>


    <div class="row">
      <div class="col-sm-4 bg-light rounded border py-3">
        <form>
          <div class="form-group">
              <label for="">Username</label>
              <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group">
              <label for="">Password</label>
              <input type="email" class="form-control" placeholder="">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="">&nbsp;&nbsp;Forgot password?</a>
        </form>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>


