{% extends "base/base_generic.html" %}
{% block content %}

<div class="container py-5">
  <h1>Password reset</h1>
  <p class="text-secondary">
Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
  </p>
  <form action="" method="post">{% csrf_token %}
      {% if form.email.errors %} {{ form.email.errors }} {% endif %}
      <p>{{ form.email.label }}</p> 
      <p>{{ form.email }}</p> 
      <input type="submit" class="btn btn-primary" value="Reset password" />
  </form>
</div>

{% endblock %}
