{% extends 'milano/milano_generic.html' %}

{% block content %}
  <div class="container-fluid bg-light">
    <div class="container py-4">
      <h1 class="py-3">Contact us</h1>
      <div class="row">
        <div class="col-sm-6">
          <h2>Our Address</h2>
          <p> 
            <i class="fas fa-map-marker text-danger"></i> &nbsp; New Road, Kathmandu, Nepal<br/>
            <i class="fas fa-phone text-danger"></i> &nbsp; +977 1 4480583<br/>
            <i class="fas fa-envelope text-danger"></i> &nbsp; milano.np@gmail.com<br/>
            <i class="fas fa-globe text-danger"></i> &nbsp; www.milano.com.np<br/>
          </p> 
        </div>
        <div class="col-sm-6 bg-white border">
          <h2>Write us message</h2>
        </div>
      </div>
    </div>

    <div class="container py-4">
      <h2>Social media</h2>
        <ul class="pt-3 nb-ul-nostyle">
          <li class="mb-2" ><a class="nb-fg-fb nb-anu" href="https://www.facebook.com/Operating-IT-436697390136345" target="_blank"><i class="fab fa-facebook fa-2x"></i>&nbsp;&nbsp; Facebook</a></li>
          <li class="mb-2" ><a class="text-info nb-anu" href="https://twitter.com/OperatingI" target="_blank"><i class="fab fa-twitter fa-2x"></i>&nbsp;&nbsp; Twitter</a></li>
          <li class="mb-2" ><a class="text-success nb-anu" href="https://github.com/oitcode" target="_blank"><i class="fab fa-github fa-2x"></i>&nbsp;&nbsp; Github</a></li>
        </ul>
      <h3>Latest posts</h3>
    </div>


  </div>
  <hr class="m-0"/>
  <div class="container py-4">
    <h2>Quick Actions</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <h3 class="card-header">Mens</h3> 
          <div class="card-body">
            <h4 class="card-title">Mens</h4>
            <a class="btn btn-danger">Mens</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <h3 class="card-header">Ladies</h3> 
          <div class="card-body">
            <h4 class="card-title">Mens</h4>
            <a class="btn btn-danger">Ladies</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <h3 class="card-header">Kids</h3> 
          <div class="card-body">
            <h4 class="card-title">Mens</h4>
            <a class="btn btn-danger">Kids</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
