{% extends 'ocprm/odashboard.html' %}

{% block dash_content %}

  <div class="container">
    <div class="col-sm-6 bg-white rounded border p-3">
      <h5 class="text-success">Request ID: {{ pk }}</h5>
      <p class="text-dark">
Your request has been created.
      </p>
      <p class="text-muted">
Please check back for updates.
      </p>
      <hr />
      <p>
        <a href="javascript:history.go(-2)">Back to project</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
    </div>
  </div>
{% endblock %}

