{% extends 'ocprm/odashboard.html' %}

{% block opnavDet%} nb-bg-dinfo {% endblock %}
{% block dash_content %}

  <div class="container bg-white rounded p-3 mb-4">
    <p class="m-0 p-0">
      <a class="btn btn-light py-1 px-3 m-0" href="{% url 'ocprm-project-list' %}">&#x2190; Back</a>
      <a class="btn btn-light py-1 px-3 m-0 disabled" href="{% url 'ocprm-pdftest' %}">PDF</a>
      <a class="btn btn-light py-1 px-3 m-0" href="{% url 'ocprm-support' project.pk %}">Issue</a>
      <a class="btn btn-light py-1 px-3 m-0" href="{% url 'ocprm-project-comment' project.pk %}">Comment</a>
    </p>
  </div>

  <div class="bg-white border rounded mb-4 p-3">
    <h5 class="mb-4">Project detail</h5>
    <table class="table table-sm table-responsive-sm table-bordered">
      <thead>
      </thead>
      <tbody>
<!--
        <tr>
          <th class="nb-w25">ID</th>
          <td>{{ project.id }}</td>
        </tr>
-->
        <tr>
          <th class="nb-w25">Name</th>
          <td>{{ project.name }}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{ project.description }}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>{{ project.project_type }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ project.get_status_display }}</td>
        </tr>
        <tr>
          <th>Start date</th>
          <td>{{ project.start_date }}</td>
        </tr>
        <tr>
          <th>End date</th>
          <td>{{ project.end_date }}</td>
        </tr>
        <tr>
          <th>Url</th>
          <td>{{ project.live_url }}</td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>


  <div class="bg-white border rounded mb-4 p-3">
    <h5 class="mb-4">Your Tasks</h5>
    <p class="nb-bg-mosinfo p-3 mb-4 rounded border">
      &#x26A1; Please complete tasks on time for smooth project operation.
    </p>
    <table class="table table-sm table-striped table-responsive-sm border">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Owner</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for project_task in project.projecttask_set.all %}
            {% if project_task.owner == user %}
              <tr>
                <td>{{ project_task.id }}</td>
                <td><a href="">{{ project_task.name }}</a></td>
                <td class="text-success">You</td>
                <td>{{ project_task.get_status_display }}</td>
              </tr>
            {% endif %}
        {% endfor %}
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>


  <div class="bg-white border rounded mb-4 p-3">
    <h5 class="mb-4">Comments</h5>
    {% for comment in project.projectcomment_set.all %}
      <p>
          {{ comment.commentor.username}}
        <span class="text-secondary">
          [ {{ comment.write_dtime }} ]
        </span>
        <br />
        <span class="text-secondary">
          {{ comment.body }}
        </span>
      </p>
      <hr />
    {% endfor %}
  </div>

{% endblock %}

