{% extends 'ocprm/odashboard.html' %}

{% block opnavDet%} nb-bg-dinfo {% endblock %}
{% block dash_content %}

  <div class="p-3">
    <a class="btn btn-sm btn-primary px-2" href="{% url 'ocprm-dashboard' %}">&#x2190; Back</a>
  </div>

  <div class="bg-white border rounded mb-5 p-3">
    <h5 class="mb-4">Project detail</h5>
    <table class="table table-sm table-striped">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{ project.name }}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{ project.description }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ project.get_status_display }}</td>
        </tr>
        <tr>
          <th>Start date</th>
          <td>{{ project.get_status_display }}</td>
        </tr>
        <tr>
          <th>End date</th>
          <td>{{ project.get_status_display }}</td>
        </tr>
        <tr>
          <th>Url</th>
          <td>{{ project.live_url }}</td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>


  <div class="bg-white border rounded mb-5 p-3">
    <h5 class="mb-4">Tasks</h5>
    <table class="table table-sm table-striped border">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Owner</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>9882</td>
          <td><a href="">Complete registration mos ...</a></td>
          <td>dev01</td>
          <td>1</td>
          <td>InProgress</td>
          <td></td>
        </tr>
     
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>


  <div class="bg-white border rounded mb-5 p-3">
    <h5 class="mb-4">Comments</h5>
    <table class="table table-sm table-striped">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th>name</th>
          <td>{{ project.name }}</td>
        </tr>
        <tr>
          <th>description</th>
          <td>{{ project.description }}</td>
        </tr>
        <tr>
          <th>status</th>
          <td>{{ project.get_status_display }}</td>
        </tr>
        <tr>
          <th>url</th>
          <td>{{ project.live_url }}</td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>

  <div class="mb-5">
    <a class="btn btn-sm btn-primary text-white">PDF</a>
  </div>

{% endblock %}

