{% extends 'ocprm/odashboard.html' %}

{% block opnavDet%} nb-bg-dinfo {% endblock %}
{% block dash_content %}

  <div class="container bg-info-rm rounded p-1 mb-4">
    <p class="m-0 p-0">
      <a class="bg-light text-dark rounded border border-info py-1 px-3 m-0" href="{% url 'ocprm-dashboard' %}">&#x2190; Back</a>
      {% comment %}
      <a class="bg-secondary text-white rounded border-right border-white py-1 px-3 m-0" href="">Generate PDF</a>
      <a class="bg-secondary text-white rounded border-right border-white py-1 px-3 m-0" href="">New Task</a>
      <a class="bg-secondary text-white rounded border-right border-white py-1 px-3 m-0" href="">Get support</a>
      {% endcomment %}
    </p>
  </div>

  <div class="bg-white border rounded mb-4 p-3">
    <h5 class="mb-4">Project detail</h5>
    <table class="table table-sm table-responsive-sm table-bordered">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th class="nb-w25">ID</th>
          <td>{{ project.name }} P101-00001</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ project.name }} Shivansh H&H system</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{ project.description }} Hotel system for shivansh</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>{{ project.description }} Custom software</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ project.get_status_display }} Maintainance</td>
        </tr>
        <tr>
          <th>Start date</th>
          <td>{{ project.get_status_display }} 2018-02-18</td>
        </tr>
        <tr>
          <th>End date</th>
          <td>{{ project.get_status_display }} 2018-03-18</td>
        </tr>
        <tr>
          <th>Url</th>
          <td>{{ project.live_url }} N/A</td>
        </tr>
        <tr>
          <th>Client POC</th>
          <td><a href="">{{ project.live_url }} John Doe</a></td>
        </tr>
        <tr>
          <th>OIT POC</th>
          <td><a href="">{{ project.live_url }} Aryan Sitaula</a></td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>


  {% comment %}
  <div class="bg-white border rounded mb-4 p-3">
    <h5 class="mb-4">Tasks</h5>
    <table class="table table-sm table-striped table-responsive-sm border">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Owner</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>9882</td>
          <td><a href="">Complete registration mos ...</a></td>
          <td>dev01</td>
          <td>1</td>
          <td>InProgress</td>
          <td></td>
        </tr>
     
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>


  <div class="bg-white border rounded mb-4 p-3">
    <h5 class="mb-4">Comments</h5>
    <p> John Doe, June 1 2018: Lorem inpsum section had some issues.  </p>
    <p> John Doe, June 1 2018: Lorem inpsum section had some issues.  </p>
    <p><a href="">Go to all comments</a></p>
  </div>
  {% endcomment %}


{% endblock %}

