{% extends 'ocent/ocent_generic.html' %}

{% block ocnavPrj%} nb-active-info {% endblock %}
{% block content %}
  {% comment %}
  <div class="container py-4 bg-info text-white border border-info rounded-top">
    <h3 class="text-center">OITP</h3>
  </div>
  {% endcomment %}
  <div class="container bg-white-rm">
    {% comment %}
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-sm-3">
        <div class="list-group mb-3">
          <a class="list-group-item list-group-item-secondary list-group-item-action py-1 font-weight-bold {% block opnavLis %}{% endblock %}"
             href="{% url 'ocprm-project-list' %}">VIEW LIST
          </a>
          <a class="list-group-item list-group-item-secondary list-group-item-action py-1 font-weight-bold {% block opnavDet %}{% endblock %}"
             href="{% url 'ocprm-project-detail' %}">VIEW DETAIL
          </a>
          <a class="list-group-item list-group-item-secondary list-group-item-action py-1 font-weight-bold {% block opnavSup %}{% endblock %}"
             href="{% url 'ocprm-support' %}">GET SUPPORT
          </a>
        </div>
      </div>
      <div class="">
      </div>
      {% endcomment %}
      {% block dash_content %}
      {% endblock %}
    </div>
  </div>
  <div class="container bg-info-rm text-secondary py-3 bg-info-rm text-white-rm border-rm border-info-rm rounded-bottom mb-3">
    <p>
      &copy; 2018 OIT. All Rights Reserved.
    </p>
  </div>
{% endblock %}

