{% extends 'ocprm/odashboard.html' %}

{% block  opnavSup %} nb-bg-dinfo {% endblock %}

{% block dash_content %}
  <div class="container bg-white rounded py-3">
    <h4 class="py-2 mb-0 ">Get support request</h4>
    <hr /> 
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.title.label }}<br />
        {{ form.title }}
        <hr />
      </div>
      <div class="form-group">
        {{ form.description.label }}<br />
        {{ form.description }}
        <hr />
      </div>
      <div class="form-group">
        <button class="btn btn-success text-white pull-right" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}

