{% extends 'wcup/wcup_generic.html' %}

{% block content %}
  <div class="container">
    <h2 class="mb-3">{{ blog.title }} </h2>
    <div class="row">
      <div class="col-sm-8">
        {% for entry in blog.blogentry_set.all %}
          <p>
            {{ entry.body }}
          </p>
        {% endfor %}
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <hr />
  </div>

  
  <div class="container">
    <div class="sharethis-inline-share-buttons">
    </div>
    <hr />
  </div>
  <div class="sharethis-inline-reaction-buttons">
  </div>

  <div class="container">
    <h3>Comments</h3>
      {% for comment in blog.blogcomment_set.all %}
        <p>
          {{ comment.body }}
        </p>
      {% endfor %}
  </div>
{% endblock %}

