{% extends 'wcup/wcup_generic.html' %}

{% block content %}
  <div class="container">
    <h2 class="mb-3">{{ blog.title }} </h2>
    <h5 class="text-secondary mb-3">Posted by: {{ blog.author.username}} </h5>
    <div class="row">
      <div class="col-sm-8">
        {% for entry in blog.blogentry_set.all %}
          <p>
            {{ entry.body }}
          </p>
        {% endfor %}
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <hr />
  </div>

  
  <div class="container">
    <div class="sharethis-inline-share-buttons">
    </div>
    <hr />
  </div>
  <div class="sharethis-inline-reaction-buttons">
  </div>

  <div class="container">
    <h3>Comments</h3>
    <div class="row">
      <div class="col-sm-8">
        {% for comment in blog.blogcomment_set.all %}
          <div class="media border-bottom rounded my-3">
            <p class="bg-light p-3">
              {{ comment.user.username }}
            </p>
            <div class="media-body">
              <p class="p-3">
                {{ comment.body }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-sm-8">
      </div>
    </div>
  </div>

  <div class="container my-3">
    <a class="btn btn-primary btn-sm text-white" href="{% url 'wcup-blog-comment-create' blog.id %}">Comment</a>
  </div>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = 'www.oit.com.np/wcup/blog/1';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = 'asdfasdfasdf'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://www-oit-com-np-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
*/
</script>
<!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->


<!-- For comment count-->
<!-- <script id="dsq-count-scr" src="//www-oit-com-np-1.disqus.com/count.js" async></script> -->
{% endblock %}

