{% extends 'wcup/wcup_generic.html' %}

{% block content %}
  <div class="container">
    <h2 class="mb-3">{{ blog.title }} </h2>
    <h5 class="text-secondary mb-3">Posted by: {{ blog.author.username}} </h5>
    <div class="row">
      <div class="col-sm-8">
        {% for entry in blog.blogentry_set.all %}
          <p>
            {{ entry.body }}
          </p>
        {% endfor %}
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <hr />
  </div>

  
  <div class="container">
    <div class="sharethis-inline-share-buttons">
    </div>
    <hr />
  </div>
  <div class="sharethis-inline-reaction-buttons">
  </div>

  <div class="container">
    <h3>Comments</h3>
    <div class="row">
      <div class="col-sm-8">
        {% for comment in blog.blogcomment_set.all %}
          <div class="media border-bottom rounded my-3">
            <p class="bg-light p-3">
              {{ comment.user.username }}
            </p>
            <div class="media-body">
              <p class="p-3">
                {{ comment.body }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-sm-8">
      </div>
    </div>
  </div>

  <div class="container my-3">
    <a class="btn btn-primary btn-sm text-white" href="{% url 'wcup-blog-comment-create' blog.id %}">Comment</a>
  </div>
{% endblock %}

