.nb-pt-20px {
  padding-top: 40px;
}

.nb-pb-20px {
  padding-bottom: 40px;
}

.nb-py-20px {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nb-bg-lgray {
  background-color: #EEEEEE;
}

#indexImgCtr {
  /*background: url('../img/pc_1.svg');*/
  background-color: #DEDEDE;
  /*height: 500px;*/
}

/* For cisco */
.nb-cisco-col i {
  /* -moz-transition: all 0.3s; */
  /* -webkit-transition: all 0.3s; */
  /* transition: all 0.3s; */
}

.nb-cisco-col:hover i {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.nb-bg-fgray {
  background-color: #DDDDDD;
}
.nb-bg-fdgray {
  background-color: #CCCCCC;
}

.nb-font-sm {
  font-size: 12px;
}

.nb-ul-nostyle {
  list-style: none;
}

.nb-bg-red {
  background-color: red;
}

.nb-fs-sm {
  font-size: 0.8rem;
}

.nb-text-ul {
  text-decoration: underline;
}
