{% extends 'base/base_generic.html' %}

{% block navAbo %}
  active
{% endblock %}

{% block content %}


<div class="jumbotron jumbotron-fluid nb-bg-cloud">
  <div class="container">
    <h1 class="mb-3">About Us</h1> 
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-8">
      <p class="text-secondary">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Please email us at <a href="">info@oit.com.np</a>.
      </p>
      <p class="text-secondary">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Please email us at <a href="">info@oit.com.np</a>.
      </p>

      <h1 class="mt-5">Contact Us</h1> 
      <p class="text-secondary">
Operating IT Pvt. Ltd.<br/>
Kathmandu, Nepal<br/>
Phone: +977 1 4480583<br/>
Email: info@oit.com.np<br/>
Web: oit.com.np<br/>
      </p>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

{% endblock %}

