{% extends 'base/base_generic.html' %}

{% block navAbo %}
  active
{% endblock %}

{% block content %}


<div class="jumbotron jumbotron-fluid nb-bg-cloud">
  <div class="container">
    <h1 class="mb-3">About Us</h1> 
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-8">
      <p class="text-secondary">
      Operating IT Pvt Ltd is a IT service consultant based in Kathmandu, Nepal and serving clients from all over
      the country. OIT is proud to be the IT partner of various individuals, non-profits, and businesses. Providing best IT
      experience is our task, so that our clients can focus on their business. If you have any questions or need more info,
      please email us at <a href="">info@oit.com.np</a>.
      </p>

      <h1 class="mt-5">Contact Us</h1> 
      <p class="text-secondary">
Operating IT Pvt. Ltd.<br/>
Kathmandu, Nepal<br/>
Phone: +977 1 4480583<br/>
Email: info@oit.com.np<br/>
Web: oit.com.np<br/>
      </p>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

{% endblock %}

