{% extends 'base/base_generic.html' %}

{% block navAbo %}
  active
{% endblock %}

{% block content %}


  <div class="container-fluid py-5 bg-info text-white border-top">
    <div class="container">
      <h2 class="py-1 text-center">What we do?</h2>

      <div class="row my-3">
        <div class="col-sm-4 py-3">
          <p class="text-center">
            <i class="fas fa-globe fa-2x"></i>
          </p>
          <h4 class="text-center py-3">Web</h4>
          <p>
We make web applications according to your business needs. This includes web sites, online portal, etc.
          </p>
        </div>
        <div class="col-sm-4 py-3">
          <p class="text-center">
            <i class="fas fa-desktop fa-2x"></i>
          </p>
          <h4 class="text-center py-3">Desktop application</h4>
          <p>
We make desktop application according to  your specification. Desktop applications range from book keeping
to resource planning. 
          </p>
        </div>
        <div class="col-sm-4 py-3">
          <p class="text-center">
            <i class="fas fa-mobile-alt fa-2x"></i>
          </p>
          <h4 class="text-center py-3">Mobile apps</h4>
          <p>
We make mobile apps. Android app as well as iPhone app are made according to your needs.
          </p>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-sm-4 py-3">
          <p class="text-center">
            <i class="fas fa-cog fa-2x"></i>
          </p>
          <h4 class="text-center py-3">IT maintainance</h4>
          <p>
We install, configure, and maintain IT resources for your business. We make sure you
are utilizing best software and network securely and efficiently. 
          </p>
        </div>
        <div class="col-sm-4 py-3">
          <p class="text-center">
            <i class="fas fa-book fa-2x"></i>
          </p>
          <h4 class="text-center py-3">Training</h4>
          <p>
We offer training to make you and your business staff comfortable and uptodate to use IT to be more efficient.
          </p>
        </div>
        <div class="col-sm-4 py-3">
          <p class="text-center">
            <i class="fas fa-briefcase fa-2x"></i>
          </p>
          <h4 class="text-center py-3">ERP and MIS</h4>
          <p>
OIT's flagship products are O-ERP and O-MIS. Our products help organizations and enterprenuers manage
business efficiently.
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="container py-5">
    <div class="row align-items-top">
      <div class="col-sm-6 py-5">
        <h3>At OIT, we deliver quality products</h3>
        <p class="my-4">
We provide quality products.
        </p>
      </div>
      <div class="col-sm-6">
        {% load static %}
        <img src="{% static 'base/img/pc_1.svg' %}" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>

{% endblock %}

