{% extends 'base/base_generic.html' %}

{% block navCar %} active {% endblock %}

{% block content %}
  <div class="container-fluid bg-light">
    <div class="container py-5">
      <div class="row align-items-top">
        <div class="col-sm-6">
          <h2>{{ crph.header }}</h2>
          <p class="my-5">
            {{ crph.body }}
          </p>
          <p>
            <a class="btn btn-success shadow-sm"href="{% url 'base-careers-vacancy-list' %}">View all vacancies</a>
          </p>
        </div>
        <div class="col-sm-6">
          {% load static %}
          <img class="img-fluid" src="{% static 'base/img/logo_1.png' %}" />
        </div>
      </div>
    </div>
  </div>

  <hr class="p-0 m-0" />

  <div class="container-fluid bg-info-rm text-white-rm pb-5">
    <div class="container pt-5 pb-3">
      <h2 class="pb-4">{{ crpr.header }}</h2>
      <div class="row">
        {% for crpre in crpr.careerspagereasonsentry_set.all %}
          <div class="col-sm-6 py-5-rm bg-danger-rm text-white-rm">
            <h4 class="pb-2"><i class="{{ crpre.icon_bs_class }}"></i>{{ crpre.header }}</h4>
            <p class="mb-4">
              {{ crpre.body }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="container-fluid py-5 bg-light text-white-rm border-top">
    <div class="container">
      <h2 class="mb-4">Useful Resources</h2>
      <p>
You may be also interested in following resources. 
      </p>
      <ul>
        <li><a class="text-white-rm nb-text-ul-rm" href="{% url 'base-documentation' %}">Documentation</a></li>
        <li><a class="text-white-rm nb-text-ul-rm" href="{% url 'base-opensource' %}">Open source projects</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

