{% extends 'base/base_generic.html' %}

{% block navCar %}
  active
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row align-items-top">
      <div class="col-sm-6">
        <h2>Make the move</h2>
        <p class="my-4">
At, OIT we work in a collaborative environment to complete
interesting projects. As an employee you will get chance to
both learn and develop leadership qualities.
Please join us to work in this exciting job.
        </p>
        <p>
          <a href="{% url 'base-careers-vacancy-list' %}">View all vacancies</a>
        </p>
      </div>
      <div class="col-sm-6">
        {% load static %}
        <img class="img-fluid" src="{% static 'base/img/logo_1.png' %}" />
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
        <h2>Reasons to join us</h2>
    </div>
  </div>


  <div class="container-fluid py-5 nb-bg-lgray border-top">
    <div class="container">
      <h2>Useful Resources</h2>
      <p>
You may be also interested in following resources. 
      </p>
      <ul>
        <li><a href="{% url 'base-documentation' %}">Documentation</a></li>
        <li><a href="{% url 'base-opensource' %}">Open source projects</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

