{% extends 'base/base_generic.html' %}

{% block navCon %} active {% endblock %}

{% block content %}

  {% comment %}
  <div class="jumbotron jumbotron-fluid bg-info text-white">
    <div class="container">
      <h2 class="text-center">{{ cph.header }}</h2>
    </div>
  </div>
  {% endcomment %}


<div class="jumbotron jumbotron-fluid nb-bg-cloud m-0">
  <div class="container">
    <h1 class="mb-3">Contact Us</h1> 
  </div>
</div>

  <div class="container-fluid shadow-rm mt-5">
    <div class="container mb-4">
      <div class="row pb-3">
        <div class="col-sm-6">
          <p class="pb-3">
            <h3 class="mb-4">{{ oit_address.name }}</h3>
            <i class="fas fa-map-marker text-success"></i>&nbsp;{{ oit_address.address }}<br/>
            <i class="fas fa-phone text-success"></i>&nbsp;{{ oit_address.phone }}<br/>
            <i class="fas fa-envelope text-success"></i>&nbsp; <a href="">{{ oit_address.email }}</a><br/>
            <i class="fas fa-globe text-success"></i>&nbsp; <a href="">{{ oit_address.website }}</a><br/>
          </p>
          <div id="gmap">
          </div>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4 bg-light border my-5 shadow-sm">
          <h3 class="py-3">{{ cpwm.header }}</h3>
          <p class="text-secondary py-2">
            {{ cpwm.body }}
          </p>
          <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
              {{ form.sender_name.errors }}
              {{ form.sender_name }}
            </div>
            <div class="form-group">
              {{ form.sender_email.errors }}
              {{ form.sender_email }}
            </div>
            <div class="form-group">
              <div class="fieldWrapper">
                {{ form.message.errors }}
                {{ form.message }}
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-success text-white pull-right" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr class="m-0 p-0"/>

  <div class="container-fluid bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 my-5">
          <h3 class="py-3">{{ cpec.header1 }}</h3>
          <h4 class="text-secondary py-2">{{ cpec.header2 }}</h4>
          <p class="py-2"> 
            <a class="btn btn-success text-white" href="{% url 'base-support' %}">Contact support</a>
          </p> 
        </div>
        <div class="col-sm-6 bg-info-rm text-white-rm my-5 p-3 shadow rounded border">
          <h3 class="">{{ cpfu.header }}</h3>
          <ul class="pt-3 nb-ul-nostyle">
            <li class="mb-2" ><a class="nb-fg-fb nb-anu" href="https://www.facebook.com/Operating-IT-436697390136345" target="_blank"><i class="fab fa-facebook fa-2x"></i>&nbsp;&nbsp; Facebook</a></li>
            <li class="mb-2" ><a class="text-info nb-anu" href="https://twitter.com/OperatingI" target="_blank"><i class="fab fa-twitter fa-2x"></i>&nbsp;&nbsp; Twitter</a></li>
            <li class="mb-2" ><a class="text-success nb-anu" href="https://github.com/oitcode" target="_blank"><i class="fab fa-github fa-2x"></i>&nbsp;&nbsp; Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block body_script %}
  <script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var oitm = {lat: 27.729254, lng: 85.337990};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('gmap'), {zoom: 18, center: oitm});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: oitm, map: map});
  }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNN3no6ufShMv2cQoao7NbF8DM8Fs2Yo0&callback=initMap">
  </script>
{% endblock %}


