{% extends 'base/base_generic.html' %}

{% block navCon %}
  active
{% endblock %}

{% block content %}
  <div class="container pt-5">
    <h2>Operating IT Pvt Ltd</h2>
    <hr/>
  </div>
  <div class="container my-4">
    <div class="row py-3 text-dark">
      <div class="col-sm-6">
        <p class="pb-3">
          <h5 class="text-success-rm"><i class="fas fa-map-marker text-success"></i>&nbsp;&nbsp; Address</h5>
          Suyog Marga, Chandol, Kathmandu, Nepal<br/><br/>
          <h5><i class="fas fa-phone text-success"></i>&nbsp;  Phone</h5>
          General: +977 9801185187<br/>
          Customer support: +977 9801185187<br/>
          Sales: +977 9801185187<br/><br/>
          <h5><i class="fas fa-envelope text-success"></i>&nbsp;  Email</h5>
          <a href="">info@oit.com.np</a><br/><br/>
          <h5><i class="fas fa-globe text-success"></i>&nbsp;  Website</h5>
          <a href="">www.oit.com.np</a><br/><br/>
        </p>
      </div>
      <div class="col-sm-6 bg-light border py-3 shadow-sm">
        <h4 class="py-3">Write a message</h4>
        <p class="text-secondary py-2">
Please write a message to us and we will get back to you soon.
        </p>
        <form action="" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-group">
            {{ form.sender_name.errors }}
            {{ form.sender_name }}
          </div>
          <div class="form-group">
            {{ form.sender_email.errors }}
            {{ form.sender_email }}
          </div>
          <div class="form-group">
              <div class="fieldWrapper">
                  {{ form.message.errors }}
                  {{ form.message }}
              </div>
          </div>
          <div class="form-group">
              <button class="btn btn-primary text-white pull-right" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-info text-white border-top border-bottom">
    <div class="container py-5">
      <h2 class="py-3">Are you an existing customer?</h2>
      <h4 class="py-2">Contact support services</h4>
      <p class="py-2"> 
        <a class="btn btn-primary text-white">Contact support</a>
      </p> 
    </div>
  </div>



  <div class="container-fluid bg-light border-top border-bottom">
    <div class="container pt-4">
      <h2>Follow us in social media</h2>
      <ul class="pt-3 nb-ul-nostyle">
        <li ><a href=""><i class="fab fa-facebook">&nbsp;&nbsp; Facebook</i></a></li>
        <li ><a href=""><i class="fab fa-twitter">&nbsp;&nbsp; Twitter</i></a></li>
        <li ><a href=""><i class="fab fa-google-plus">&nbsp;&nbsp; Google plus</i></a></li>
        <li ><a href=""><i class="fab fa-github">&nbsp;&nbsp; Github</i></a></li>
      </ul>
    </div>
  </div>



  <div class="container">
  </div>
{% endblock %}

        <p>
Please contact us for
          <ul>
            <li>Web development</li>
            <li>Digital marketing</li>
            <li>Business process automation</li>
            <li>Open source solution</li>
            <li>Cloud services</li>
            <li>IT consultation</li>
          </ul>
        </p>


            <form>
              <div class="form-group">
                <label for="">Name</label> 
                <input type="text" class="form-control" id="" aria-describedby="nameHelp" placeholder="" />
              </div>
              <div class="form-group">
                <label for="">Email</label> 
                <input type="email" class="form-control" id="" aria-describedby="nameEmail" placeholder="" />
              </div>

              <div class="form-group py-3">
                  <label for="">Message</label> 
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder=""></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
