{% extends 'base/base_generic.html' %}

{% block navCon %}
  active
{% endblock %}

{% block content %}
  <div class="container pt-2">
    <h3 class="py-3">Contact us</h3>
    Registered users <a href="">login</a> to write.
  </div>
  <div class="container">
    <div class="row py-3 text-dark">
      <div class="col-sm-4">
        <p class="my-0">
          <strong>Operating IT Pvt Ltd</strong><br/>
          <i class="fas fa-map-marker"></i>&nbsp;&nbsp;  Suyog Marga, Chandol, Kathmandu, Nepal<br/>
          <i class="fas fa-phone"></i>&nbsp;  +977 9801185187<br/>
          <i class="fas fa-envelope"></i>&nbsp;  info@oit.com.np<br/>
          <i class="fas fa-globe"></i>&nbsp;  www.oit.com.np<br/>
        </p>
      </div>
      <div class="col-sm-8">
        <form>
          <div>
            <p>
Please write to us if you have any question or comment. We will get back to you soon.
            </p>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Name *">
            </div>
            <div class="col">
              <input type="email" class="form-control" placeholder="Email *">
            </div>
          </div>
          <div class="form-group py-3">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message *"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

<ul>
  <li>You need software services</li>
  <li>Website</li>
  <li>Custom software</li>
  <li>Have question</li>
  <li>Or any other reason ...</li>
</ul>
