{% extends 'base/base_generic.html' %}

<!-- Which block to show active? -->

{% block content %}

    <div class="container py-5">
      <h3>Documentation</h3>
      <hr />
      <h4>Web</h4>
      <ul> 
        <li><a href="">Front End</a></li>
        <li><a href="">Back End</a></li>
      </ul> 
      <h4>Unix</h4>
      <ul> 
        <li><a href="">Service</a></li>
        <li><a href="">Software</a></li>
        <li><a href="">Network</a></li>
      </ul> 
      <h4>Misc</h4>
      <ul> 
        <li><a href="">Office</a></li>
        <li><a href="">Security</a></li>
      </ul> 
    </div>

{% endblock %}

