{% extends 'base/base_generic.html' %}

{% load static %} 
{% load odfilter %}

{% block navHom%} active {% endblock %}

{% block content %}

<div class="container-fluid py-3 bg-info-rm nb-bg-hero1">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="py-2 text-black">Operating IT</h1>
        <h2 class="py-2 text-black">IT and Software Services</h2>
        <p class="d-none d-lg-block text-black">
          {{ iphp }}
        </p>
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-3 bg-light rounded border shadow py-3">
        <form action="" method="post">
          {% csrf_token %} 
          <div class="form-group">
            {{ spr_form.email.label}} <br />
            {{ spr_form.email|addcss:"form-control" }}
            {% comment %}
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            {% endcomment %}
          </div>
          <div class="form-group">
            {{ spr_form.project_type.label}} <br />
            {{ spr_form.project_type|addcss:"form-control" }}
          </div>
          <div class="form-group">
            {{ spr_form.description.label}} <br />
            {{ spr_form.description|addcss:"form-control" }}
          </div>
          {% comment %}
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Accept terms</label>
          </div>
          {% endcomment %}
          <button type="submit" class="btn btn-primary mt-3">Start Project</button>
        </form>
      </div>
    </div>
  </div>
</div>


<hr class="p-0 m-0"/>
<div class="container-fluid bg-light p-0 my-0">
  <div class="container p-0 my-0">
    <h1><span class="bg-primary text-white p-2 rounded border shadow">{{ ips.header }}</span></h1>
  </div>
</div>


{% comment %}
<div class="container text-center">
  <img class="img-responsive my-4" src="{% static 'base/img/services_ubu_2.svg' %}" />
</div>
{% endcomment %}

<div class="container pb-5-rm mb-0 pt-5">
  <div class="row mb-3">
    {% for ipse in ips.indexpageservicesentry_set.all %}
      <div class="col-lg-4 py-5-rm bg-danger-rm text-white-rm mb-2 pr-5">
        <div class="media">
          <i class="{{ ipse.icon_bs_class }}"></i>
          <div class="media-body">
            <h5 class="pb-2">{{ ipse.header }}</h5>
             <p class="mb-4 text-secondary">
               {{ ipse.body }}
             </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<hr class="m-0" />
<div class="container py-5 nb-bg-cust1">
  <h1 class="text-center mb-5">Our customers say</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="8000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p class="text-center px-5">
          <i class="fa fa-quote-left text-secondary"></i>
Nice solution to our hotel. Good professional service.
          <i class="fa fa-quote-right text-secondary"></i>
        </p>
        <h5 class="text-center text-success">Rahul Bhagat</h5>
        <h6 class="text-center text-muted">Manager, Navrang hotel</h6>
      </div>
      <div class="carousel-item">
        <p class="text-center px-5">
          <i class="fa fa-quote-left text-secondary"></i>
Happy with the server operation with OIT.
          <i class="fa fa-quote-right text-secondary"></i>
        </p>
        <h5 class="text-center text-success">Deependra Thapaliya</h5>
        <h6 class="text-center text-muted">CEO, Nepadristi</h6>
      </div>
      <div class="carousel-item">
        <p class="text-center px-5">
          <i class="fa fa-quote-left text-secondary"></i>
Good support for computer hardware store applications.
          <i class="fa fa-quote-right text-secondary"></i>
        </p>
        <h5 class="text-center text-success">Binod Dahal</h5>
        <h6 class="text-center text-muted">Propreiter, Alphasoft computers</h6>
      </div>
    </div>
  </div>
</div>


<hr class="m-0" />
<div class="container text-center py-5 my-0">
  <h1 class="mb-5">Subscribe our newsletter</h1>
      {% csrf_token %}
      <!-- {{ subscriber_form.email.label}} <br /> -->
      <!--{{ subscriber_form.email|addcss:"form-control" }}-->
      <input type="email" class="m-0 p-0" id="subscriber_email" placeholder="Email"><button type="submit" class="btn btn-sm btn-primary m-0 p-0-rm" id="damaha">Subscribe</button>
    <p id="ajaxdisp" class="py-3">  
    </p>  
</div>


<hr class="p-0 m-0"/>
<div class="container-fluid bg-light p-0 my-0">
  <div class="container p-0 my-0">
    <h1><span class="bg-success text-white p-1 rounded border shadow">Featured</span></h1>
  </div>
</div>


<div class="container text-center py-5">
  <h2 class="my-4">Microsoft acquires Github</h2>
  <img class="img-responsive my-4" src="{% static 'base/img/microgit_1.jpg' %}" />
  <p class="text-secondary my-4">
Microsoft Corp. on Monday announced it has reached an agreement to acquire GitHub,
the world’s leading software development platform where more than 28 million developers learn,
share and collaborate to create the future.
Together, the two companies will empower developers to achieve more at every stage of the development lifecycle,
accelerate enterprise use of GitHub, and bring Microsoft’s developer tools and services to new audiences.
  </p>
  <a class="btn btn-primary my-4" href="https://news.microsoft.com/2018/06/04/microsoft-to-acquire-github-for-7-5-billion/" target="_blank">Read more &#x2192;</a>
</div>

{% endblock %}

{% block javascript %}
<script>
  $("#damaha").click(function(){
    // console.log($(this).val());
    // console.log('Nescafe'));
    // alert('Nescafe');
    // var email = $('#subscriber_email').val();
    // alert($(email).val()) ;
    // alert('Ola') ;
    // var email = $(this).val();
    $.ajax({
      url: '/ajax/subscriber_add/',
      data: {
        'email': $('#subscriber_email').val()
      },
      dataType: 'json',
      success: function (data) {
        //if (data.is_taken) {
          // alert("Thank you for subscribing.");
          $('#ajaxdisp').html('<span class="text-success">Thank you for subscribing.</span>');
        //}
      }
    });
  });
</script>
{% endblock %}



