{% extends 'base/base_generic.html' %}

{% block navHom%}
  active
{% endblock %}

{% block content %}
  <div class="container-fluid nb-py-20px border-bottom bg-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 bg-light text-dark py-3 rounded">
          <h3>Operating IT</h3>
          <p> 
It is our task to make software and provide IT services to meet your needs. We strive to provide best technology so that your business is maximizing by using technology. 
          </p> 
          <p>
            <a href="">About OIT</a>
          </p>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid nb-bg-lgray py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="py-3">We help organizations to make the most of Software</h3>
        <p> 
With proper consultancy we ensure you are utilizing technology appropriately. We make sure you are using the correct resources which will help you become more efficient. 
        </p> 
        <p>
          <a href="">OIT services</a>
        </p>
        </div>
        <div class="col-sm-6">
          {% load static %}
          <img src="{% static 'base/img/pc_1.svg' %}" class="img-fluid" alt="Responsive image" />
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5 border-bottom">
    <div class="row">
      <div class="col-sm-6">
        {% load static %}
        <img src="{% static 'base/img/pc_1.svg' %}" class="img-fluid" alt="Responsive image" />
      </div>
      <div class="col-sm-6">
        <h3 class="py-3">We deliver <span class="text-success">ERP</span> and <span class="text-success">MIS</span></h3>
        <p> 
OIT's Enterprise Resource Planning (ERP) and Management Information Systems (MIS) are used by 
businesses of all kinds. We are proud of the quality of our products.
        </p> 
        <p>
          <a href="">OIT products</a>
        </p>
      </div>
    </div>
  </div>



  <div class="container-fluid nb-bg-lgray py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="py-3">We would like to work with you</h3>
        <p> 
We want to help you to increase your business by utilizing software and IT productively. Please get in touch
with us and we will discuss how we can help you.
        </p> 
        <p>
          <a href="">Contact us</a>
        </p>
        </div>
        <div class="col-sm-6">
          {% load static %}
          <img src="{% static 'base/img/pc_1.svg' %}" class="img-fluid" alt="Responsive image" />
        </div>
      </div>
    </div>
  </div>

{% endblock %}

