{% extends 'base/base_generic.html' %}

{% block navSer %}
  active
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6">
        <h3>Web design and development</h3>
        <p class="my-4">
With     our flagship service, Ubuntu Advantage, we help our customers deploy and manage Ubuntu on the desktop, server and cloud. We also offer design and consulting services for customers considering large scale Ubuntu deployments. On delivery, all projects are supplemented with an Ubuntu Advantage service agreement, providing access to Canonical’s management software as well as 24/7 support.
        </p>
        <p>
          <a href="">Learn more</a>
        </p>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>

  <div class="container-fluid py-5 nb-bg-lgray border-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>Desktop and Mobile App design and development</h3>
          <p class="my-4">
With our flagship service, Ubuntu Advantage, we help our customers deploy and manage Ubuntu on the desktop, server and cloud. We also offer design and consulting services for customers considering large scale Ubuntu deployments. On delivery, all projects are supplemented with an Ubuntu Advantage service agreement, providing access to Canonical’s management software as well as 24/7 support.
          </p>
          <p>
            <a href="">Learn more</a>
          </p>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-5 bg-info text-white border-top">
    <div class="container">
      <h3 class="py-1">What happens when you engage us?</h3>
      <div class="row my-3">
        <div class="col-sm-6 py-3">
          <div class="media">
            <p class="bg-dark rounded-circle p-3 mr-3">
              1
            </p>
            <div class="media-body">
              <h5 class="mt-0">Plan and install</h5>
We examine your business problem and operational requirements before building and installing a proposed solution. Performance is monitored and a full report accompanies the resulting deployment recommendations.
            </div>
          </div>
        </div>
        <div class="col-sm-6 py-3">
          <div class="media">
            <p class="bg-dark rounded-circle p-3 mr-3">
              2
            </p>
            <div class="media-body">
              <h5 class="mt-0">Deploy</h5>
The system is now rolled out, configured for optimum security and performance. At this stage, your Ubuntu Advantage subscription begins, making management and support more cost-effective from this point.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 py-3">
          <div class="media">
            <p class="bg-dark rounded-circle p-3 mr-3">
              3
            </p>
            <div class="media-body">
              <h5 class="mt-0">Train</h5>
Training is a vital element of a successful handover of the new system. The transfer of detailed knowledge to your team on how to manage your deployment is critical. For clouds, we also cover scaling and moving workloads.
            </div>
          </div>
        </div>
        <div class="col-sm-6 py-3">
          <div class="media">
            <p class="bg-dark rounded-circle p-3 mr-3">
              4
            </p>
            <div class="media-body">
              <h5 class="mt-0">Manage</h5>
As your business evolves, we collaborate closely with your team to monitor and optimise your deployment on an ongoing basis, taking advantage of any opportunities to enhance effectiveness and efficiency
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

