{% extends 'base/base_generic.html' %}

{% block navSer %}
  active
{% endblock %}

{% block content %}
<div class="container-fluid bg-info-rm text-white-rm pb-3 shadow-sm">
    <div class="container pt-5 pb-3">
            <h2>OIT Services</h2>
            <div class="row py-3">
              <div class="col-sm-8">
                <p>
We are an information technology (IT) consulting firm, and we
provide IT services to our clients.
We have been helping clients utilize IT 
to manage their business better. 
Below is the list of services we provide.
                </p>
              </div>
              <div class="col-sm-4">
                {% load static %}
                <!--<img class="img-fluid" src="{% static 'base/img/logo_1.png' %}" />-->
              </div>
            </div>

            <div class="row border-bottom">
              <div class="col-sm-4 border-right py-5">
                  <h4 class="pb-3">Software development</h4>
                   <i class="fas fa-desktop fa-2x mr-3 text-info"></i><br/>
                  <p class="pt-3">
We make software according to your needs.
Software range from websites, desktop and mobile applications.
                  </p>
              </div>
              <div class="col-sm-4 border-right py-5">
                  <h4 class="pb-3">Business Process automation</h4>
                  <i class="fas fa-magic fa-2x mr-3 text-info"></i><br/>
                  <p class="pt-3">
Business process automation (BPA) is the technology-enabled automation of business processes.
                  </p>
              </div>
              <div class="col-sm-4 py-5">
                  <h4 class="pb-3">Digital marketing</h4>
                  <i class="fas fa-adjust fa-2x mr-3 text-info"></i>
                  <p class="pt-3">
Marketing of products using digital technologies, mainly on the Internet, but also including mobile phones, display advertising, etc.
                  </p>
              </div>
            </div>


            <div class="row pt-5-rm">
              <div class="col-sm-4 border-right border-right-danger py-5">
                  <h4 class="pb-3">Open source stack</h4>
                  <i class="fas fa-briefcase fa-2x mr-3 text-info"></i><br/>
                  <p class="pt-3">
OpenStack is a set of software tools for building and managing cloud computing platforms for public and private clouds.
Backed by some of the biggest companies in software development and hosting,
as well as thousands of individual community members, many think that OpenStack is the future of cloud computing.
                  </p>
              </div>
              <div class="col-sm-4 border-right py-5">
                  <h4 class="pb-3">Training and Certifications</h4>
                  <i class="fas fa-calculator fa-2x mr-3 text-info"></i><br/>
                  <p class="pt-3">
Training for relevant IT certifications. We are partner of Red Hat Certifications, and other 
network and open source certificaitons.
                  </p>
              </div>
              <div class="col-sm-4 py-5">
                  <h4 class="pb-3">Security and Storage</h4>
                  <i class="fas fa-cloud fa-2x mr-3 text-info"></i><br/>
                  <p class="pt-3">
Cloud storage so that you always have access to your data. Security so that your data is 
protected in the internet.
                  </p>
              </div>
            </div>
    </div>
</div>

  <div class="container my-4">
    <h4>Questions?</h4>
    <hr/>
    <div class="row py-3 text-dark">
      <div class="col-sm-6 bg-light border py-3">
        <p>
If you have any quesitons regarding services, please write an
email to <a href="">sales@oit.com.np</a>. Or if you wish you
can submit the form below. 
        </p>
            <h4 class="py-3">Question</h4>
            <p class="text-secondary py-2">
Please write your question to us.
            </p>
            <form>
              <div class="form-group">
                <label for="">Name</label> 
                <input type="text" class="form-control" id="" aria-describedby="nameHelp" placeholder="" />
              </div>
              <div class="form-group">
                <label for="">Email</label> 
                <input type="email" class="form-control" id="" aria-describedby="nameEmail" placeholder="" />
              </div>

              <div class="form-group py-3">
                  <label for="">Message</label> 
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder=""></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </div>
      <div class="col-sm-6 py-3">
                <h5 class="text-center py-2 bg-info text-white my-0">Quick Links</h5>
                <ul class="list-group">
                  <li class="list-group-item"><a href="">Services FAQ</a></li>
                  <li class="list-group-item"><a href="">Contact sales</a></li>
                  <li class="list-group-item"><a href="">Get support</a></li>
                  <li class="list-group-item"><a href="">Start project</a></li>
                </ul>
      </div>
    </div>
  </div>
{% endblock %}

