{% extends 'base/base_generic.html' %}

{% block navSer %}
  active
{% endblock %}

{% block content %}


  <div class="container-fluid py-5 text-dark border-top">
    <div class="container">
      <div class="row my-3">
        <div class="col-sm-4 py-3">
          <div class="container bg-light border rounded">
            <h3>Services</h3>
            <ul>
              <li><a href="">ERP</a></li>
              <li><a href="">MIS</a></li>
              <li><a href="">Web</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 py-3">
        </div>
        <div class="col-sm-4 py-3">
        </div>
      </div>
    </div>
  </div>



{% endblock %}

