{% extends 'base/dashboard.html' %}

{% block navDas%}
  active
{% endblock %}

{% block dash_c1 %}


  <div class="container-fluid bg-light nb-py-20px border-bottom">
    
    <div class="container py-3">
      <h5 class="mb-3">Project Detail</h5>
      <div class="table-responsive">
        <table class="table table-dark-rm table-striped table-bordered-rm table-hover-rm table-sm">
          <caption>Project detail</caption>
          <thead class="thead-light">
          </thead>
          <tbody>
              <tr>
                <th scope="row">Project Name</th>
                <td>{{ project.name }}</td>
              </tr>
              <tr>
                <th scope="row">Status</th>
                <td>{{ project.get_status_display }}</td>
              </tr>
              <tr>
                <th scope="row">Client</th>
                <td>Rahul Bhagat</td>
              </tr>
              <tr>
                <th scope="row">Live Url</th>
                <td>{{ project.live_url }}</td>
              </tr>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
    </div>
    

    <div class="container">
      <hr/>
      <a href="">Write Comment</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="">Report Issue</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="">Get Support</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

  </div>


{% endblock %}

