{% extends 'base/dashboard.html' %}

{% block navDas%}
  active
{% endblock %}

{% block dash_main_act %}
  text-success
{% endblock %}

{% block dash_l2 %}
  <!-- L-2 -->
  <div class="container py-1 border-bottom">
    <a href="">SubDash</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="" href="">All apps</a>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
{% endblock %}

{% block dash_c1 %}


      <div class="container pt-3 px-0">
        <h5>Projects</h5>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <caption>All projects</caption>
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for project in project_list %}
                <tr>
                  <th scope="row">1</th>
                  <td>{{ project.name }}</td>
                  <td>{{ project.get_status_display }}</td>
                  <td><a href="{% url 'base-dashboard-uproject' project.pk %}">View Details</a></td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
        <hr/>

        <h5>Tasks</h5>
        <hr/>
      
      </div>



  </div>


{% endblock %}

