{% extends 'base/base_generic.html' %}

{% block navFoo %} <!-- What to hightlight? --> {% endblock %}

{% block content %}
  <div class="container py-5">
    <h3>User Profile</h3>
    <hr />
  </div>


  <div class="container bg-light rounded border text-right py-2">
    <a href="">{{ user.username }}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="">Change password</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="">Logout</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
  </div>


  <div class="container bg-light rounded border text-right py-2">
    <a href="">Projects</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="">Tasks</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="">Finance</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="">CRM</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="">Inventory</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="">HR</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
  </div>


  <div class="container">
    <h4>Bio</h4>
    <p>
      {{ user.userprofile.bio }}
    </p>


  <div class="container py-3 border-top border-bottom">
    <h4>Get new modules</h4>
    <a class="btn btn-primary text-white shadow-sm">Add modules</a>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}

