{% extends 'base/base_generic.html' %}

{% block navFoo %} active {% endblock %}

{% block content %}
  <div class="container-fluid bg-light">
    <div class="container py-5">
      <div class="col-sm-6"> 
        <h1>What you get</h1>
        <p class="text-secondary"> 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
        </p>
        <h2>Latest software</h2>
        <p class="text-secondary"> 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
        </p>
        <h2>1 year free support</h2>
        <p class="text-secondary"> 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
        </p>
        <h2>Digital platform</h2>
        <p class="text-secondary"> 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
        </p>
        <h2>Business continuity</h2>
        <p class="text-secondary"> 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
Lorem ipsum dolor emut integer set. 
        </p>
      </div>
    </div>
  </div>

  <hr class="p-0 m-0" />

{% endblock %}

