{% extends 'realst/realst_generic.html' %}

{% block content %}
<div class="container py-3 pt-4">
  <div class="row">
    <div class="col-sm-8">
      <h1>About us</h1>
      <p class="text-secondary">
a5estate.com provides lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
You can write to us at <a href="">info@a5estate.com.np</a>
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
      </p>
      <p class="text-secondary">
a5estate.com provides lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
You can write to us at <a href="">info@a5estate.com.np</a>
Lorem ipsum dolor emut integer heute.
      </p>
      <p class="text-secondary">
a5estate.com provides lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
You can write to us at <a href="">info@a5estate.com.np</a>
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
      </p>
      <p class="text-secondary">
a5estate.com provides lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
You can write to us at <a href="">info@a5estate.com.np</a>
Lorem ipsum dolor emut integer heute.
      </p>
      <p class="text-secondary">
a5estate.com provides lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
You can write to us at <a href="">info@a5estate.com.np</a>
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
      </p>
      <p class="text-secondary">
a5estate.com provides lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
You can write to us at <a href="">info@a5estate.com.np</a>
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
      </p>

      <h1>Contact us</h1>
      <p class="text-secondary">
A5Estate Pvt. Ltd.<br/>
Building 69<br/>
Old Baneshwor<br/>
Kathmandu<br/>
Nepal<br/>
      </p>
      <p class="text-secondary">
Phone No: +977-0000000000<br/>
Contact No: +977-0000000000<br/>
Email: info@a5estate.com<br/>
Web: www.a5estate.com<br/>
Viber: +977-0000000000<br/>
      </p>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3 rounded border">
      <h2>Advertisement </h2>
      <div class="my-2"> 
        {% load static %}
        <img class="img-fluid" src="{% static 'realst/img/ad_1.jpg' %}" width="100%" />
      </div> 
      <div class="my-2"> 
        <img class="img-fluid" src="{% static 'realst/img/ad_2.jpg' %}" width="100%" />
      </div> 
      <div class="my-2"> 
        <img class="img-fluid" src="{% static 'realst/img/ad_3.jpg' %}" width="100%" />
      </div> 
    </div>
  </div>
</div>
{% endblock %}

