{% extends 'realst/realst_generic.html' %}

{% block content %}
<div class="container py-3 pt-4">
  <div class="row">
    <div class="col-sm-8">
      <h1>Home Loans</h1>
      <p class="text-secondary">
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
Lorem ipsum dolor emut integer heute.
You can write to us at <a href="">info@a5estate.com.np</a>
      </p>
      <p class="text-secondary">
If you want to calculate EMI, please <a href="">click here</a>.
      </p>

      <div class="row text-secondary">
        <div class="col-sm-6 p-3 mb-2">
          <div class="bg-light p-3 pb-4 rounded border">
            <h4 class="">ADBL</h4>
            <strong>Link: </strong> <a href="">Visit Page</a><br />
            <strong>Interest Rate: </strong> 13-15%<br />
            <strong>Tenure: </strong>5-15 years<br />
            <strong>Link: </strong>+977-1-4262885<br />
          </div>
        </div>
        <div class="col-sm-6 p-3 mb-2">
          <div class="bg-light p-3 pb-4 rounded border">
            <h4 class="">ADBL</h4>
            <strong>Link: </strong> <a href="">Visit Page</a><br />
            <strong>Interest Rate: </strong> 13-15%<br />
            <strong>Tenure: </strong>5-15 years<br />
            <strong>Link: </strong>+977-1-4262885<br />
          </div>
        </div>
        <div class="col-sm-6 p-3 mb-2">
          <div class="bg-light p-3 pb-4 rounded border">
            <h4 class="">ADBL</h4>
            <strong>Link: </strong> <a href="">Visit Page</a><br />
            <strong>Interest Rate: </strong> 13-15%<br />
            <strong>Tenure: </strong>5-15 years<br />
            <strong>Link: </strong>+977-1-4262885<br />
          </div>
        </div>
        <div class="col-sm-6 p-3 mb-2">
          <div class="bg-light p-3 pb-4 rounded border">
            <h4 class="">ADBL</h4>
            <strong>Link: </strong> <a href="">Visit Page</a><br />
            <strong>Interest Rate: </strong> 13-15%<br />
            <strong>Tenure: </strong>5-15 years<br />
            <strong>Link: </strong>+977-1-4262885<br />
          </div>
        </div>
        <div class="col-sm-6 p-3 mb-2">
          <div class="bg-light p-3 pb-4 rounded border">
            <h4 class="">ADBL</h4>
            <strong>Link: </strong> <a href="">Visit Page</a><br />
            <strong>Interest Rate: </strong> 13-15%<br />
            <strong>Tenure: </strong>5-15 years<br />
            <strong>Link: </strong>+977-1-4262885<br />
          </div>
        </div>
        <div class="col-sm-6 p-3 mb-2">
          <div class="bg-light p-3 pb-4 rounded border">
            <h4 class="">ADBL</h4>
            <strong>Link: </strong> <a href="">Visit Page</a><br />
            <strong>Interest Rate: </strong> 13-15%<br />
            <strong>Tenure: </strong>5-15 years<br />
            <strong>Link: </strong>+977-1-4262885<br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3 rounded border">
      <h2>Advertisement </h2>
      <div class="my-2"> 
        {% load static %}
        <img class="img-fluid" src="{% static 'realst/img/ad_1.jpg' %}" width="100%" />
      </div> 
      <div class="my-2"> 
        <img class="img-fluid" src="{% static 'realst/img/ad_2.jpg' %}" width="100%" />
      </div> 
      <div class="my-2"> 
        <img class="img-fluid" src="{% static 'realst/img/ad_3.jpg' %}" width="100%" />
      </div> 
    </div>
  </div>
</div>
{% endblock %}

