{% extends 'realst/realst_generic.html' %}

{% block content %}
<div class="container-fluid bg-info py-3">
  <div class="container">
    <h3 class="text-white">A5Estate - Sell you properties for the best values.</h3>
    <p class="text-white">
If you are looking for properties (ghar jagga) for buy, sale or rent, Gharbazar.com is the right real state site of Nepal.  
    </p>
  </div>
</div>

<div class="container">
  <h3 class="my-3">Properties (House/Land for sale/rent)</h3>
  <div class="row">
    <div class="col-sm-8">
      <div class="row rounded border py-3 bg-light">
        <div class="col-sm-6 ">
          {% load static %}
          <img class="img-fluid" src="{% static 'realst/img/home_1.png' %}" />
        </div>
        <div class="col-sm-6 ">
          <h4>Commercial building </h4>
          <p class="text-secondary">
New Road, Kathmandu
          </p>
          <p class="text-secondary">
<strong>Rs 10000</strong>
          </p>
          <p class="text-secondary">
CODE: <strong>GB06018</strong>
          </p>
          <p class="text-secondary">
CATEGORY: <strong>Commercial building (Residential)</strong>
          </p>
          <div class="row border-top border-bottom bg-white">
            <div class="col-xs-3 border-right px-2 my-2">
              <h6>Beds</h6>
              <strong>3</strong>
            </div>
            <div class="col-xs-3 border-right px-2 my-2">
              <h6>Living</h6>
              <strong>6</strong>
            </div>
            <div class="col-xs-3 border-right px-2 my-2">
              <h6>Kitchen</h6>
              <strong>1</strong>
            </div>
            <div class="col-xs-3 border-right px-2 my-2">
              <h6>Bathroom</h6>
              <strong>2</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row rounded border">
        <div class="col-sm-6 ">
          {% load static %}
          <img class="img-fluid" src="{% static 'realst/img/home_1.png' %}" />
        </div>
        <div class="col-sm-6 ">
          <h4>Commercial building </h4>
          <p class="text-secondary">
New Road, Kathmandu
          </p>
          <p class="text-secondary">
<strong>Rs 10000</strong>
          </p>
          <p class="text-secondary">
CODE: <strong>GB06018</strong>
          </p>
          <p class="text-secondary">
CATEGORY: <strong>Commercial building (Residential)</strong>
          </p>
        </div>
      </div>
      <div class="row rounded border">
        <div class="col-sm-6 ">
          {% load static %}
          <img class="img-fluid" src="{% static 'realst/img/home_1.png' %}" />
        </div>
        <div class="col-sm-6 ">
          <h4>Commercial building </h4>
          <p class="text-secondary">
New Road, Kathmandu
          </p>
          <p class="text-secondary">
<strong>Rs 10000</strong>
          </p>
          <p class="text-secondary">
CODE: <strong>GB06018</strong>
          </p>
          <p class="text-secondary">
CATEGORY: <strong>Commercial building (Residential)</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

