{% extends 'realst/realst_generic.html' %}

{% block content %}
<div class="container py-3 pt-4">
      <h1 class="mb-4">Pricing</h1>
      <p class="text-secondary mb-4"> 
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
      </p> 
  <div class="row mb-5">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header bg-info text-white text-center">
          <h5>Normal Listing</h5>
        </div>
        <div class="m-0 bg-success text-white text-center py-2">
          <strong>NRS. 5,000 </strong>
        </div>
        <div class="card-body">
          <p class="text-secondary">
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                High quality images of the property
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Property description
              </div>
            </div>
            <div class="media text-success mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Facebook sponsored promotion for 5 days
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Listed untill property is sold
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Suitable for 3 months
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header bg-danger text-white text-center">
          <h5>Featured Listing</h5>
        </div>
        <div class="m-0 bg-success text-white text-center py-2">
          <strong>NRS. 10,000 </strong>
        </div>
        <div class="card-body">
          <p class="text-secondary mb-2">
            <div class="media text-secondary">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                High quality images of the property
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Property description
              </div>
            </div>
	    <div class="media text-success mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Facebook sponsored promotion for 5 days
              </div>
            </div>
	    <div class="media text-success mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Ad also featured in our 'THE REAL A5 MAGAZINE'
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Listed untill property is sold
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Suitable for 3 months
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h5>Premium Listing</h5>
        </div>
        <div class="m-0 bg-success text-white text-center py-2">
          <strong>NRS. 15,000 </strong>
        </div>
        <div class="card-body">
          <p class="text-secondary">
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                High quality images of the property
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Property description
              </div>
            </div>
	    <div class="media text-success mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Facebook sponsored promotion for 5 days
              </div>
            </div>
	    <div class="media text-success mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Youtube video promotion. Video shot by professional photographer.
              </div>
            </div>
	    <div class="media text-success mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Ad also featured in our 'THE REAL A5 MAGAZINE'
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Listed untill property is sold
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Suitable for 3 months
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header bg-warning text-white text-center">
          <h5>Top Listing</h5>
        </div>
        <div class="m-0 bg-success text-white text-center py-2">
          <strong>NRS. 25,000 </strong>
        </div>
        <div class="card-body">
          <p class="text-secondary">
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                High quality images of the property
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Property description
              </div>
            </div>
	    <div class="media text-success mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Facebook sponsored promotion for 5 days
              </div>
            </div>
	    <div class="media text-success mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Youtube video promotion. Video shot by professional photographer.
              </div>
            </div>
	    <div class="media text-success mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                A5estate will refer the walk-in customer for the property.
              </div>
            </div>
	    <div class="media text-success mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Ad also featured in our 'THE REAL A5 MAGAZINE'
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Listed untill property is sold
              </div>
            </div>
            <div class="media text-secondary mb-2">
              <i class="fas fa-check mt-1 mr-2"></i>
              <div class="media-body">
                Suitable for 3 months
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <p class="text-secondary mb-4"> 
A5Estate.com provides lorem ipsum dolor emut integer heute <a href="">Contact us</a>.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
  </p> 
  <p class="text-secondary mb-4"> 
A5Estate.com provides lorem ipsum dolor emut integer heute <a href="">Contact us</a>.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
  </p> 
  <p class="text-secondary mb-4"> 
A5Estate.com provides lorem ipsum dolor emut integer heute <a href="">Contact us</a>.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
A5Estate.com provides lorem ipsum dolor emut integer heute.
  </p> 
</div>
{% endblock %}

